In [1]:
# Import necessary libraries
from pyspark import SparkContext

# Create a SparkContext
sc = SparkContext("local", "First App")


# Create an RDD (Resilient Distributed Dataset)
rdd = sc.parallelize([1, 2, 3, 4, 5])

# Perform operations on the RDD
rdd2 = rdd.map(lambda x: x * 2)
rdd3 = rdd2.filter(lambda x: x > 5)

# Print the final result
print(rdd3.collect())

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=PySparkShell, master=local[*]) created by <module> at /usr/lib/python3/dist-packages/IPython/utils/py3compat.py:168

In [1]:
path= "text.txt"
data = sc.textFile(path)

In [2]:
data.count()

3

In [3]:
data.first()

'Hello, How are you ?'

In [4]:
data.take(20)

['Hello, How are you ?',
 'This is a test file which will be used as input file.',
 'We will count words or lines in this file later.']

In [5]:
sc

In [3]:
path = "state_info.csv"

In [4]:
data= spark.read.csv(path)

In [5]:
data.take(2)

[Row(_c0='State', _c1='StateCode', _c2='Capital', _c3='LargestCity', _c4='PopulationEst2015', _c5='HouseSeats', _c6='StateHood'),
 Row(_c0='Alabama', _c1='AL', _c2='Montgomery', _c3='Birmingham', _c4='4858979', _c5='7', _c6='1819-12-14')]

In [9]:
df= spark.read.load(path,format = "csv",header='true',inferSchema='true')

In [10]:
df.show(5)

+----------+---------+-----------+-----------+-----------------+----------+-------------------+
|     State|StateCode|    Capital|LargestCity|PopulationEst2015|HouseSeats|          StateHood|
+----------+---------+-----------+-----------+-----------------+----------+-------------------+
|   Alabama|       AL| Montgomery| Birmingham|          4858979|         7|1819-12-14 00:00:00|
|    Alaska|       AK|     Juneau|  Anchorage|           738432|         1|1959-01-03 00:00:00|
|   Arizona|       AZ|    Phoenix|    Phoenix|          6828065|         9|1912-02-14 00:00:00|
|  Arkansas|       AR|Little Rock|Little Rock|          2978204|         4|1836-06-15 00:00:00|
|California|       CA| Sacramento|Los Angeles|         39144818|        53|1850-09-09 00:00:00|
+----------+---------+-----------+-----------+-----------------+----------+-------------------+
only showing top 5 rows

In [12]:
df.printSchema()

root
 |-- State: string (nullable = true)
 |-- StateCode: string (nullable = true)
 |-- Capital: string (nullable = true)
 |-- LargestCity: string (nullable = true)
 |-- PopulationEst2015: integer (nullable = true)
 |-- HouseSeats: integer (nullable = true)
 |-- StateHood: timestamp (nullable = true)

In [21]:
r1= df.select("State").distinct()

In [24]:
r1.write.saveAsTable("state_tbl")

In [13]:
%sql select * from state_tbl;

UsageError: Line magic function `%sql` not found.

In [15]:
type(sc), type(spark)

(pyspark.context.SparkContext, pyspark.sql.session.SparkSession)

In [6]:
sql= "select * from state_tbl"

In [14]:
test= spark.sql(sql);

In [17]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [18]:
test.show()

+-------------+
|        State|
+-------------+
|         Utah|
|       Hawaii|
|    Minnesota|
|         Ohio|
|     Arkansas|
|       Oregon|
|        Texas|
| North Dakota|
| Pennsylvania|
|  Connecticut|
|     Nebraska|
|      Vermont|
|       Nevada|
|   Washington|
|     Illinois|
|     Oklahoma|
|     Delaware|
|       Alaska|
|   New Mexico|
|West Virginia|
+-------------+
only showing top 20 rows

In [64]:
for i in list(range(test.count())):
    print(test[i:])

TypeError: unexpected item type: <class 'slice'>